div.form
{
    display: block;
    text-align: center;
}
form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

body{

    text-align: center; 
    position: fixed;
    width: 100%;
    height: 100%;
    margin-top: 100px;
    background-color: darkslategrey;
    vertical-align: text-top;
    padding-top: 4cm;
}

.centerDivMain{
    width: 90%;
    max-width: 400px;
    margin: auto;
}

#maincontainer{
    max-width: 350px;
    width: 90%;
    margin: auto;
    display: none;
}
