body{
    background-color: darkslategrey;
}

.centerDivMain{
    width: 100%;
    height: 100%;
    position: fixed;
}

.twoChoice{
    max-width: 350px;
    width: 90%;
    margin: auto;
    display: none;
}

.panelDivs {
    display: none;
}

#queueLen{
    font-size: 18pt;
    width: 100%;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}